{{!-- CSS ADMIN --}}

<link rel="stylesheet" href="styles/admin.css">

{{!-- HTML ADMIN HOME --}}

{{!-- logo admin --}}
<header id="up">
    <img class="logo-admin" src="images/logo-admin.png" alt="Moscovicz"/>
</header>

<div class="btn-container">
  <a class="btn btn-secondary btn-admin" href="/"><i class="fas fa-home"></i></a>
  <button class="btn btn-secondary btn-admin" id="btn-modal"><i class="fas fa-plus"></i></button>
</div>

<a href="#" class="btn-ej">
	<span class="btn-texto">go</span>
	<div class="icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></div>
</a>

<table class="table">
  <thead>
    <tr>
      <th scope="col">CUADROS</th>
      <th scope="col">DETALLES</th>
    </tr>
  </thead>
  <tbody>

    {{#each cuadro}}
    <tr class="fila-cuadro">
        <td>
            <img class="cuadro-imagen" src="/images/cuadros/{{archivo_imagen}}" id="cuadro-imagen-{{id}}">
        </td>
          <td class="inputs-cuadro">
            <form action="/editarcuadro/{{id}}" method="POST">
              <div class="mb-3 edit-cuadro-input">
                  <label for="form-titulo" class="form-label">Título</label>
                  <input type="text" class="form-control" id="form-titulo" autocomplete="off" value="{{nombre}}" name="nombre">
              </div>
              <div class="mb-3 edit-cuadro-input">
                  <label for="form-descripcion" class="form-label">Descripción</label>
                  <input type="text" class="form-control" id="form-descripcion" autocomplete="off" value="{{descripcion}}" name="descripcion">
              </div>
              <div class="cuadros-admin-botones">
                <button type="submit" class="btn btn-secondary btn-hover">
                  <i class="fas fa-edit cuadros-iconos"></i>
                  <span class="btn-text">Editar</span>
                </button>
            </form>
                <form action="/eliminarcuadro/{{id}}" method="POST">
                  <button class="btn btn-secondary btn-hover" type="submit">
                    <i class="fas fa-times cuadros-iconos"></i>
                    <span class="btn-text">Eliminar</span>
                  </button>
                </form>
                <form action="/subirposicion/{{id}}" method="POST">
                  <button class="btn btn-secondary btn-hover" type="submit">
                    <i class="fas fa-arrow-up cuadros-iconos"></i>
                    <span class="btn-text">Subir</span>
                  </button>
                </form>
                <form action="/bajarposicion/{{id}}" method="POST">
                  <button class="btn btn-secondary btn-hover" type="submit">
                    <i class="fas fa-arrow-down cuadros-iconos"></i>
                    <span class="btn-text">Bajar</span>
                  </button>
                </form>
              </div>
          </td>
    </tr>
    {{/each}}

  </tbody>
</table>

<!-- popup modal -->
<div id="modal-upload" class="modal">
  <span class="close">&times;</span>
  <div id="form-upload">
    <div class="modal-upload-image"><img src="images/pinturapng2.png" alt=""></div>
    <form class="form-form-upload" action="/upload" method="POST" enctype="multipart/form-data">
        <input id="nombre" type="text" name="nombre" placeholder="Nombre" required>
        <input id="descripcion" type="text" name="descripcion" placeholder="descripcion" required>
        <input id="file" type="file" name="image" required>
        <div class="recuadro-preview">
          <i id="icon-preview" class="far fa-image"></i>
          <div id="preview"></div>
        </div>
        <button type="submit">Upload</button>
        <button id="btn-reset">Eliminar</button>
    </form>
  </div>
</div>