{{!-- CSS ADMIN --}}

<link rel="stylesheet" href="styles/admin.css">

{{!-- HTML ADMIN HOME --}}

{{!-- logo admin --}}
<header id="up">
    <img class="logo-admin" src="images/logo-admin.png" alt="Moscovicz"/>
</header>

<div class="btn-container">
  <a class="btn-ej" href="/">
    <span class="btn-texto">Home</span>
    <div class="icon"><i class="fas fa-home"></i></div>
  </a>
  <button class="btn-ej" id="btn-modal">
    <span class="btn-texto">Agregar</span>
    <div class="icon"><i class="fas fa-plus"></i></div>
  </button>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">CUADROS</th>
      <th scope="col">DETALLES</th>
    </tr>
  </thead>
  <tbody>

    {{#each cuadro}}
    <tr class="fila-cuadro">
        <td>
            <img class="cuadro-imagen" src="/images/cuadros/{{archivo_imagen}}" id="cuadro-imagen-{{id}}">
        </td>
          <td class="inputs-cuadro">
            <form action="/editarcuadro/{{id}}" method="POST">
              <div class="mb-3 edit-cuadro-input">
                  <label for="form-titulo" class="form-label">Título</label>
                  <input type="text" class="form-control" id="form-titulo" autocomplete="off" value="{{nombre}}" name="nombre">
              </div>
              <div class="mb-3 edit-cuadro-input">
                  <label for="form-descripcion" class="form-label">Descripción</label>
                  <input type="text" class="form-control" id="form-descripcion" autocomplete="off" value="{{descripcion}}" name="descripcion">
              </div>
              <div class="cuadros-admin-botones">
                <button type="submit" class="btn-ej btn-edit">
                  <span class="btn-texto">Edit</span>
                  <div class="icon"><i class="fas fa-edit" aria-hidden="true"></i></div>
                </button>
            </form>
                <form action="/eliminarcuadro/{{id}}" method="POST">
                  <button class="btn-ej" type="submit">
                    <span class="btn-texto">Borrar</span>
                    <div class="icon"><i class="fas fa-times" aria-hidden="true"></i></div>
                  </button>
                </form>
                <form action="/subirposicion/{{id}}" method="POST">
                  <button class="btn-ej" type="submit">
                    <span class="btn-texto">Subir</span>
                    <div class="icon"><i class="fas fa-arrow-up" aria-hidden="true"></i></div>
                  </button>
                </form>
                <form action="/bajarposicion/{{id}}" method="POST">
                  <button class="btn-ej" type="submit">
                    <span class="btn-texto">Bajar</span>
                    <div class="icon"><i class="fas fa-arrow-down" aria-hidden="true"></i></div>
                  </button>
                </form>
              </div>
          </td>
    </tr>
    {{/each}}

  </tbody>
</table>

<!-- popup modal -->
<div id="modal-upload" class="modal">
  <span class="close">&times;</span>
  <div id="form-upload">
    <div class="modal-upload-image"><img src="images/pinturapng2.png" alt=""></div>
    <form class="form-form-upload" action="/upload" method="POST" enctype="multipart/form-data">
        <input type="text" name="nombre" placeholder="Nombre" required>
        <input type="text" name="descripcion" placeholder="descripcion" required>
        <input id="file" type="file" name="image" required>
        <div id="preview"></div>
        <button type="submit">Upload</button>
    </form>
  </div>
</div>