{{> navigation}}

{{> navigationmobile}}

<section class="background-obras" id="obras">    
    <div class="obras">
        
        <!-- popup modal -->
        <div id="myModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="img01">
            <div id="caption"></div>
        </div>

        {{#each cuadro}}
        <div class="cuadro-contenedor" id="cuadro-contenedor-{{id}}"> 
            <img class="cuadro-imagen" src="/images/cuadros/{{archivo_imagen}}" alt="{{descripcion}}" id="cuadro-imagen-{{id}}">
            <h4 class="cuadro-texto" id="cuadro-texto-{{id}}">{{nombre}}</h4>
        </div>

        <script>
            var contenedor = document.getElementById("cuadro-contenedor-{{id}}");
            var img{{id}} = document.getElementById("cuadro-imagen-{{id}}");
            var tituloImagen{{id}} = document.getElementById("cuadro-texto-{{id}}").textContent.toUpperCase();
            var descripcionImagen{{id}} = document.getElementById("cuadro-imagen-{{id}}").alt;
            
            contenedor.onclick = function(){
                modal.style.display = "block";
                modalImg.src = img{{id}}.src;
                captionText.innerHTML = tituloImagen{{id}} + `<br>` + descripcionImagen{{id}};
            }
        </script>
        {{/each}}
    </div>
</section>

<!-- obras mobile -->
<section class="background-obras-mobile" id="obras-mobile">
    <div class="obras">
        
        {{#each cuadro}}
        <input id="abrir-cuadro1" type="checkbox" class="abrir-cuadro-input">
        <input id="abrir-descripcion1" type="checkbox" class="abrir-descripcion-input">
        <div class="cuadro-contenedor"> 
            <img class="cuadro-imagen" src="/images/cuadros/{{archivo_imagen}}" alt="{{descripcion}}"/>
            <div class="cuadro-contenedor-descripcion">
                <h4 class="titulo-cuadro-mobile">{{nombre}}</h4> 
                <p class="descripcion-cuadro-mobile">{{descripcion}}</p>
            </div>
            <div class="cuadro-contenedor-botones">
                <label for="abrir-descripcion1" class="abrir-descripcion-label">
                    <img src="images/down-arrow.svg" alt="Expandir Información" class="boton-down-arrow">
                    <img src="images/up-arrow.svg" alt="Minimizar Información" class="boton-up-arrow">
                </label>
                <label for="abrir-cuadro1" class="abrir-cuadro-label">
                    <img src="images/expand.svg" alt="Expandir" class="boton-expandir">
                    <img src="images/minimize.svg" alt="Minimizar" class="boton-minimizar">
                </label>
            </div>
        </div>
        {{/each}}
    </div>
</section>

<!-- información exposicion -->
<h2 class="titulo-exposicion" id="galeria">GALERIA</h2>
<aside class="background-exposicion">
    <div class="exposicion">
        <iframe class="mapa-exposicion" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.4523569988173!2d-58.43653918519569!3d-34.59272116442247!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccb64f8bda719%3A0x8c6a8f250951b0d0!2sAdriana%20Budich%20Arte%20Contempor%C3%A1neo!5e0!3m2!1ses!2sar!4v1595796346826!5m2!1ses!2sar" 
        width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        <ul class="info-exposicion">
            <li class="titulo-info-exposicion"><h3>ADRIANA BUDICH ARTE CONTEMPORÁNEO</h3></li>
            <li class="item-info-exposicion"><strong>Dirección</strong><br>Gurruchaga 1145, Villa Crespo,<br> Buenos Aires, Argentina.</li><br>
            <li class="item-info-exposicion"><strong>Teléfono</strong><br>+54 9 11 6172 2112</li><br>
            <li class="item-info-exposicion"><strong>Página Web</strong><br><a href="https://www.adrianabudich.com/">https://www.adrianabudich.com/</a></li><br>
        </ul>
    </div>
</aside>
<!-- fin informacion exposicion -->

{{> footer}}